/* div{
    border: 2px solid black;
} */



.my_bg-dark{
    background-color: #2c3e50;
}

.my_bg-green{
    background-color: #1abc9c;
    color: white;
    border-color: transparent;
}

div.line{
    width: 10vw;
    height: 0;
}

.line.wh{
    border: 2px solid white;
}

.line.bl{
    border: 2px solid black;
}

.my_btn-wh{
    border-color: white;
    color: white;
}

#floatingTextarea{
    height: 10rem;
}

footer>.info{
    background-color: #3a546d;
    color: white;
    border-color: white;
}

.my_text-blue{
    color: #1abc9c;
}

.info i{
    border-radius: 1.5rem;
}

#link-fb{
    padding: .8rem 1rem;
}

#link-gplus{
    padding: .8rem .68rem;
}

#link-tw{
    padding: .8rem;
}

#link-in{
    padding: .8rem .85rem;
}

#link-fb,
#link-gplus,
#link-tw{
    margin-right: .8rem;
}